.del-img{
    height: 15px;
}
.list-con{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width:576px){
    .del-img{
        height: 10px;
    }
    .list-con{
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .para{
        font-size: 10px;
    }

}